<h1>{{ title }}</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <!-- Binds the form to the loginForm FormGroup from your component class. -->
  <!-- Listens for the form submission event and triggers the onSubmit() method in your component class when the form is submitted. -->
  <div>
    <label>Email:</label>
    <input type="email" formControlName="email">
  </div>

  <!-- Creates an input field for the email with type "email" and binds it to the email FormControl from the loginForm. -->

  <div>
    <label>Password:</label>
    <input type="password" formControlName="password">
  </div>

  <!-- Creates an input field for the password with type "password" and binds it to the password FormControl from the loginForm. -->

  <button type="submit">Login</button>
</form>
